table,
tr,
td {
    padding: 0;
    border: 1px solid #000;
    background-color: white;
}

table {
    border-collapse: collapse;
}

td {
    padding-left: 3px;
    padding-bottom: 28px;
    width: 75px;
    height: 50px;
    font-family: "Inter";
    font-size: 30px;
    text-align: left;
    line-height: 50px;
}

.sunday {
    color: red;
}

.saturday {
    color: blue;
}